@import url('https://fonts.googleapis.com/css2?family=MuseoModerno:wght@700&display=swap');

$white: #FFFFFF;
$blue: #1463FF;
$lightblue: #4181FF;
$darkblue: #0C0343;

html, body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  background-color: white;
  margin: 0;
  padding: 0;
  overflow: hidden;
  user-select: none;
  * {
    -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent;
  }
}

html {
  overflow: hidden;
}

:root {
  --app-height: 100%;
}

body {
  padding: 0;
  margin: 0;
  height: 100vh;
  width: 100%;
  position: fixed;
  @media not all and (hover:hover) {
    height: var(--app-height);
  }
}

#speakerBtn {
  width: 70px;
  height: 70px;
  background-color: $blue;
  border-radius: 50%;
  border: none;
  position: absolute;
  top: 3%;
  left: 3%;
  z-index: 1;

  &:hover {
    cursor: pointer;
  }

  img {
    width: 25px;
  }
}

.home {
  width: 60%;
  height: 50%;
  position: absolute;
  top: 25%;
  left: 20%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;

  img {
    width: 300px;
  }

  p:first-of-type {
    color: $white;
    font-family: "Futura", cursive;
    font-size: 20px;
    text-align: center;
    width: 700px;
  }

  p:last-of-type {
    color: $blue;
    font-family: "Futura", cursive;
    font-weight: bold;
    font-size: 22px;
    text-align: center;
    width: 700px;
  }

  button {
    width: 80px;
    height: 80px;
    background-color: rgba(255,255,255,0.2);
    border-radius: 50%;
    border: none;
    transition: background-color .2s;

    &:hover {
      cursor: pointer;
      background-color: $blue;
    }

    svg {
      margin-top: 3px;
      margin-left: 6px;
    }
  }
}

.rectleftparent {
  position: absolute;
  width: 316px;
  height: 844px;
  left: 5%;
  top: 10%;
  transition: .4s ease-out;
  opacity: 0;
  pointer-events: none;
}

.rect-left {
  position: absolute;
  width: 316px;
  height: 844px;
  background: linear-gradient(221.04deg, rgba(10, 224, 255, 0.74) -16.85%, rgba(10, 224, 255, 0.16) 19.93%, rgba(10, 224, 255, 0) 50.08%);
  opacity: 0.8;
  filter: blur(16px);
  transform: matrix(-1, 0, 0, 1, 0, 0) skew(0deg, -15deg);
  transition: none;
}

.rectrightparent {
  position: absolute;
  width: 316px;
  height: 844px;
  right: 5%;
  bottom: 10%;
  transition: .4s ease-out;
  opacity: 0;
  pointer-events: none;
}

.rect-right {
  position: absolute;
  width: 316px;
  height: 844px;
  background: linear-gradient(221.04deg, rgba(10, 224, 255, 0.74) -16.85%, rgba(10, 224, 255, 0.16) 19.93%, rgba(10, 224, 255, 0) 50.08%);
  opacity: 0.8;
  filter: blur(16px);
  transform: matrix(1, 0, 0, -1, 0, 0) skew(0deg, -15deg);
  transition: none;
}

.content {
  width: 94%;
  height: 94%;
  position: absolute;
  top: 3%;
  left: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  pointer-events: none;
  opacity: 0;
}

#logo-content {
  width: 100px;
  position: absolute;
  top: 3%;
  right: 3%;
}

h1 {
  font-family: 'MuseoModerno', cursive;
  color: $white;
  font-weight: 700;
  font-size: 40px;
  margin-top: 1%;

  span {
    color: $blue;
  }
}

.subtitles {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  bottom: 100px;
  color: $white;
  font-family: "Futura", cursive;
}

.timeline-container {
  width: 420px;
  height: 80px;
  overflow: hidden;
  position: relative;
}

.timeline {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 1200px;
  transition: transform .5s;
}

.tl-up, .tl-down {
  display: flex;
  width: 100%;
}

.tl-down {
  position: relative;
}

.tl-line {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 0;
  border: 1px solid $blue;
}

.tl-points {
  display: flex;
  align-items: center;
  z-index: 1;
}

.tl {
  margin: auto 20px;
}

.tl-big {
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: all .5s;
  transition: margin 0s;
}

.tl-big.triggered {
  width: 30px;
  height: 30px;
  margin: 20px;
  border: 1px solid $lightblue;

  div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: $white;
    transition: .5s;
  }
}

.tl-big.default {
  width: 20px;
  height: 20px;
  margin: 26px;
  background-color: $lightblue;

  div {
    width: 0px;
    height: 0px;
    transition: .5s;
  }
}


.tl-small.triggered {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $white;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.tl-small.default {
  width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: $blue;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: .5s;
}

.tl-text {
  color: $white;
  font-family: "Futura";
  transition: .5s;
  margin: 0;
}

.tl-text.triggered {
  opacity: 1;
}

.tl-text.default {
  opacity: .5;
}

.tx-1 {
  margin-left: 15px;
}

.tx-2, .tx-3 {
  margin-left: 310px;
}

.caption {
  border-radius: 20px;
  background-color: rgba(20, 99, 255, .3);
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px 30px;
  opacity: 0;
}

.attribute {
  display: flex;
  align-items: center;
  margin: 10px;

  div {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: red;
  }

  p {
    margin: 0;
    margin-left: 20px;
    color: $white;
    font-family: "Futura", cursive;
  }
}

#prevBtn {
  width: 70px;
  height: 70px;
  background-color: $blue;
  border-radius: 50%;
  border: none;
  position: absolute;
  top: 50%;
  left: 0;
  transform: translateY(-50%);
  opacity: 0;

  &:hover {
    cursor: pointer;
  }

  img {
    width: 25px;
    transform: rotateZ(180deg);
  }
}

#nextBtn {
  width: 70px;
  height: 70px;
  background-color: $blue;
  border-radius: 50%;
  border: none;
  position: absolute;
  top: 50%;
  right: 0;
  transform: translateY(-50%);
  opacity: 0;

  &:hover {
    cursor: pointer;
  }

  img {
    width: 25px;
  }
}

.card {
  border-radius: 20px;
  background-color: $white;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 150px;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 20px 30px;
  opacity: 0;
  pointer-events: none;
  color: $darkblue;
  font-family: "Futura", cursive;

  div:first-of-type {
    display: flex;
    justify-content: center;
  
    p {
      font-size: 25px;
      font-weight: bold;
    }
  }

  div {
    margin: 10px;
    display: flex;
    align-items: center;

    img {
      height: 20px;
    }

    p {
      margin: 0;
      margin-left: 15px;
    }
  }

  button {
    position: absolute;
    top: 5%;
    left: 5%;
    background-color: transparent;
    border: none;
    color: $blue;
    font-family: "Futura", cursive;
    font-weight: bold;
    font-size: 15px;
    transform: scaleX(1.2);

    &:hover {
      cursor: pointer;
    }

    img {
      width: 20px;
      height: 23px;
    }
  }
}

.bilan {
  position: absolute;
  top: 15%;
  left: 50%;
  transform: translateX(-50%);
  width: 80%;
  height: 60%;
  font-family: "Futura", cursive;
  color: $white;
  font-weight: normal;
  pointer-events: none;

  h2 {
    font-size: 30px;
    margin: 50px auto;

    span {
      color: $blue;
      font-size: 50px;
    }
  }
}

.frame-1 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  opacity: 0;

  .container {
    display: flex;
    justify-content: space-evenly;
    align-items: center;

    .element {
      display: flex;
      flex-direction: column;
      align-items: center;
      font-size: 20px;

      .round {
        border-radius: 50%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        font-weight: bold;
      }
      
      .round2020 {
        width: 200px;
        height: 200px;
        background-color: $blue;
        font-size: 50px;
      }

      .round2021 {
        width: 150px;
        height: 150px;
        background-color: $lightblue;
        font-size: 40px;
      }
    }
  }
}

.frame-2 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  opacity: 0;

  .round {
    width: 300px;
    height: 300px;
    border-radius: 50%;
    background-color: $blue;
    font-size: 50px;
    font-weight: bold;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

.frame-3 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;

  h3 {
    font-size: 20px;

    span {
      font-size: 40px;
      color: $blue;
    }
  }

  div {
    display: flex;
    flex-direction: column;
    align-items: center;

    .circle {
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 212px;
      height: 212px;

      div {
        position: absolute;
        width: 191px;
        height: 191px;
        border-radius: 50%;
        border: 10px solid rgba(255,255,255,0.1);
        top: 1px;
        left: 2px;
      }

      svg {
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
      }

      h3, h2 {
        margin: 0;
      }
    }
  }

  .progress-ring__circle {
    transition: 0.35s stroke-dashoffset;
    transform: rotate(-90deg);
    transform-origin: 50% 50%;
  }
}

.frame-4 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;

  #myChart {
    width: 400px !important;
    height: 400px !important;
  }
  
  div div {
    display: flex;
    align-items: center;

    .color {
      width: 50px;
      height: 50px;
      border-radius: 50%;
    }

    h2 {
      margin: 20px;
    }
  }
}

.frame-5 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0;

  .graph {
    width: 100%;
    height: 80%;
    display: flex;
    justify-content: space-evenly;
    align-items: flex-end;

    .side {
      display: flex;
      flex-direction: column;
      align-items: center;
      width: 40%;

      .top {
        display: flex;
        width: 80%;

        .column {
          display: flex;
          flex-direction: column;
          justify-content: flex-end;
          align-items: center;
          width: 100%;

          h2 {
            margin: 20px 0;
            width: 100%;
            text-align: center;
            
            span {
              color: $white;
            }
          }

          .bar-1 {
            width: 50px;
            background-color: $blue;
          }

          .bar-2 {
            width: 50px;
            background-color: #F5B350;
          }
        }
      }

      h3 {
        opacity: .6;
      }
    }
  }

  .legend {
    div {
      display: flex;
      align-items: center;

      .color {
        width: 30px;
        height: 30px;
        border-radius: 50%;
      }

      h2 {
        margin: 20px;
      }
    }
  }
}

.frame-6 {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  opacity: 0;

  h2 {
    color: $blue;
    font-size: 50px;
    display: flex;
    align-items: center;
    padding-right: 40px;
    margin: 0;

    img {
      width: 100px;
    }
  }

  button {
    width: 70px;
    height: 70px;
    background-color: $blue;
    border-radius: 50%;
    border: none;
    margin-top: 80px;
  
    &:hover {
      cursor: pointer;
    }
  
    img {
      width: 40px;
    }
  }
}

.people {
  width: 50px;
}

.main-container {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.main-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}